*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ====== footer-wraper ========= */
footer{
    width: 100%;
    position: absolute;
    /* bottom: 0 !important; */
    background-color: #F5F5F5;
}
.footer-wraper{
    display: grid;
    grid-template-columns:21% 18% 24% 24%;
    padding: 25px 0;
    gap:5%;
}
.footer-wraper h2{
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-p-container p{
    font-size: 14px;
    line-height: 21px;
}
.footer-p-container a{
    color: #000000;
}
.footer-p-container a:hover{
    border-bottom: 1px solid rebeccapurple;
}

.footer-earn-with-daraz h2{
    font-size: 19px;
    margin-top: 28px;
}
.footer-earn-with-daraz div{
    margin-top: -8px;
}
.footer-earn-with-daraz p{
    font-size: 14px;
}
.footer-earn-with-daraz a:hover{
    border-bottom: 1px solid rebeccapurple;
}






/* ===========   flag container   ==========*/
.flag-container{
    width: 92%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.flag-item-main{
    margin-top: 10px;
}
.flag-item-main p{
    color: #53504d;
    font-size: 14px;
}
.flag-item p:hover{
    border-bottom: 1px solid black;
}
.flag-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.flag-container img{
    width: 32px;
    height: 32px;
}


/* payment all image */
.payment-container{
    margin-top: 30px;
}
.payment-container h2{
    font-size: 18px;
}
.payment-all-items {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.payment-all-items img{
    width: 45px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    transition: all .3s;
}
.payment-all-items img:hover{
    transform: translate(1.2);
    width: 38px;
    cursor: pointer;
}


/* footer-verify-container */
.footer-verify-container{
    height: 122px;
    margin-top: 25px;
}
.footer-verify-container h3{
    padding-bottom: 15px;
    color: var(--primaryColor);
    font-size: 17px;
    font-weight: 400;
}
.footer-verify-container .half p{
    font-size: 14px;
    letter-spacing: -.5px;
}
.dbid{
    margin-top: -10px;
}




/* ==============   footer-img-container  ==============*/
.footer-img-container{
    display: flex;
}
.footer-img-container img{
    width: 100px;
    height: 100px;
}
.app-store-image{
    height: 30px !important;
    cursor: pointer;
}
.happy-shopping{
    margin-top: 25px;
}
.happy-shopping h2{
    font-family: fantasy;
    font-weight: 500;
    font-size: 23px;
}
.happy-shopping p{
    font-size: 13px;
    line-height: 0;
}
.happy-shopping .fa-mobile-screen{
    font-size: 33px;
    background-color: wheat;
    padding: 6px;
    border-radius: 4px;
}
.happy-shopping-text{
    margin-left: 10px;
}

.follow-us{
    margin-top: 50px;
}
.follow-us h3{
    font-weight: 400;
    color: var(--primaryColor);
}
.follow-us a{
    display: flex !important;
    align-items: center;
    justify-content: center;
    display: inline-block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 14px;
}
.icons{
    display: flex;
}
.follow-us i{
    font-size: 29px;
}
.follow-us i:hover{
    color: orange;
    font-size:26px;
    cursor: pointer;
}
.follow-us .fa-facebook{
    color: blueviolet;
}
.follow-us .fa-globe{
    color: var(--primaryColor);
}
.follow-us .fa-youtube{
    color: chocolate;
}
.follow-us .fa-twitter{
    color: blueviolet;
}
.follow-us .fa-instagram{
    color: darkorange;
}
