/*  ======== global css ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg:#F85606;
}
li,a{text-decoration: none;list-style: none;}

body{
    font-family: system-ui, -apple-system;
}
.container{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.half{
    width: 50%;
}





/*  ========= header style start here ========== */
header{
    background-color: var(--header-bg);
    height: 95px;
    color: white;
}
/* header top start here*/
.header-top{
    display: flex;
    justify-content: space-between;
}
.header-top ul{
    display: flex;
    gap: 25px;
}
.header-top ul li a{
    font-size: 13px;
    color: white;
}
/* hover in a */
.header-top ul li a:hover{
    transition: .2s  all;
    color: wheat;
}




/* help and sppport drop down */
.help-drop-down{
    display: none !important;
    display: flex;
    flex-direction: column;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 2px rgb(238, 237, 237);
    color: black;
    padding: 26px 20px;
    position: absolute;
    left: 165px;
    margin-top: 12px;
}
.help{
    position: relative;
    display: inline-block;
}

.down-arrow{
    position: absolute;
    display: inline-block;
    top: 15px;
    font-size: 25px;
    left: 32px;
}
.help-drop-down li{
    line-height: 38px !important;
    margin-top: -8px;
}
.help-drop-a{
    display: inline-block;
    color: darkslategray !important;
    font-size: 14px !important;
    margin-left: 12px;
}
/* hover in drop down a tags */
.help-drop-a{
    position: relative;
}
.help-drop-a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    height: 1px;
    left: 50%;
    width: 0%;
    background-color: red !important;
    transition: .2s ;
    transition: .3s all;
}
.help-drop-a:hover::before{
    width: 100%;
    left: 0;
}
.help-drop-down span{
    color: darkslategray;
    font-size: 1.3rem;
}




/* header top right style here */
.header-top-right-wraper{
    background-color: #AD3C04;
    display: flex;
    gap: 8px;
    padding: 5px;
    border-radius: 0 0 7px 7px;
    font-size: 14px;
    width: 172px;
    position: relative;
}
.header-top-right-wraper a{
    color: white;
}
.header-top-right-wraper a:hover{
    color: rgb(214, 156, 156);
}
.icon-app{
    background-color: white;
    color: var(--header-bg);
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 15px;
    height: 23px !important;
}

/* app drop down */
.app-drop-down{
    display: none !important;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgb(184, 181, 181);
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 11;
}

.app-drop-down .main-img img{
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    height: 250px;
}
.app-drop-down h4{
    text-align: center;
    color: var(--header-bg);
    margin-top: -15px;
}

.header-image-container{
    margin-top: -20px;
    display: flex;
    gap: 10px;
    padding: 5px;
}
.header-image-container img{
    width: 100%;
    object-fit:fill;
    border-radius: 0;
}
.app-store-image{
    height: 50px !important;
}
.qr-img{
    height: 160px !important;
    border: 1px solid wheat;
    padding: 2px;
    border-radius: 5px !important;
}
.down-arrow2{
    display: none;
    position: relative;
    margin-top: 0px;
    height: 16px;
}
.down-arrow2 span i{
    position: absolute;
    font-size: 19px;
    top: -11px;
    color: rgb(255, 255, 255);
    right: 25px;
}



/* ========= main header ============= */
.header-main-wraper{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 6px;
}
.input-item-search-main{
    position: relative;
    width: 73%;
}
.input-item-search-main input {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
}
.btn-search-item{
    position: absolute;
    padding: 7px 15px;
    background-color: #FFE1D2;
    border: none;
    outline: none;
    right: 15px;
    top: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-search-item i{
    color: #AD3C04;
}



/* login-container */

.login-container{
    width: 27%;
    display: flex;
    justify-content:space-around !important;
}
.login-container a{
    display: inline-block;
    color: white;
    font-weight: 500;
    padding: 6px 5px;
    font-size: 14px;
}
.login-container a:hover{
    background-color: #AD3C04;
    border-radius: 6px;
}
.fa-globe{
    margin-right: 4px;
}
.cart{
    margin-right: -6px;
}
.v{
    font-weight: 100;
}
.login-bar-main{
    position: relative;
}
.login-bar-main a::after{
    position: absolute;
    content: '';
    height: 13px;
    width: 2px;
    background-color: wheat;
    bottom: 6px;
    right: -5px;
}


.language-main{
    display: inline-block;
    position: relative !important;
    z-index: 1;
}
 .language{
  display: none !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 227, 227);
  color: black;
  padding: 10px 25px;
  right: -51px;
  font-size: 14px;
  line-height: 26px;
  width: 155px;
  top: 54px;
  border: 1px solid wheat;
}
.language-main:hover .language{
    display: block !important;
    transition: all 1s !important;
}
/*========== header top end here  =============*/
.app:hover .app-drop-down,.app:hover .down-arrow2 {
    display: block !important;
}
.help-main:hover .help-drop-down{
    display: block !important;
    z-index: 11;
    line-height: 43px !important;
}