/*  ======== global css ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 14px;
}
:root{
    --header-bg:#F85606;
    --primaryColor : #F85606;
    --secondery : #99a0a0;
}
li,a{text-decoration: none;list-style: none;}

body{
    font-family: system-ui, -apple-system;
    background-color: #EFF0F5;
}
.container{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    align-items: center;
}
.half{
    width: 50%;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
}
.h5{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
label{
    font-size: 14px;
    color: #383838;
    letter-spacing: -.5px;
    font-weight: 400;

}
.login-form-container input{
    margin-top: 7px;
    padding: 10px 10px;
    border: none;
    outline: none;
    border: 1px solid rgb(243, 240, 233);
    width:100%;
}
form input::placeholder{
    color: #bebbb8;
    font-size: 13px;
}







/* page bar stat here */
.page-bar-wraper{
    display: flex;
    padding: 10px 0;
}
.page-bar-wraper p{
    font-size: 14px;
    color: #868584;
}
.page-bar-wraper i{
    font-size: 14px;
    margin-right: 8px;
    margin-left: 6px;
}







/* ==========  product page =========== */
.product-page-wraper{
    display: grid;
    grid-template-columns: 70% 30%;
}
.product-buy-container{
    background-color: #ffffff;
    height: 480px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.product-buy-wraper{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 12px;
}

/* products images  */
.product-images-container img{
    width: 100%;
}
.img-hr{
    height: .5px;
    background-color: #fdfbfb !important;
}
.display-img{
    padding: 8px  0 4px 8px;
}
.display-img img{
    width: 100%;
    height: 270px;
    object-fit:fill;
    object-position:22%;
}

.bottom-images{
    width: 100%;
    margin-top: 9px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.bottom-single-img{
    height: 50px;
    border-radius: 3px;
    border: 1px solid wheat;
}
.bottom-single-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-images button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    margin-left: 4px;
}
.bottom-images button i{
    font-size: 1.2rem;
}



/* =====  flash sale ======  */
.flash-sale-container{
    width:90%;
    margin-top: 8px;
    margin-left: 3%;
    border: 1px solid wheat;
    border-radius: 20px;
    height: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.flash-sale-container h5{
    background-color: #FF3755;
    padding: 9px 10px;
    display: inline-block;
    transform: skew(-15deg);
    text-align: center;
    margin-top:-2px !important;
    color: white;
    word-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 25px;
}
.flash-sale-container p{
    font-size: 13px;
}
.flash-sale-container span{
    color: var(--header-bg);
}
.sold{
    margin-left: 20px;
    color: #999999;
    margin-right: 8px;
    font-size: 17px;
}

/* product title style here */
.product-title{
    margin: 10px 5px;
    padding-right:10px;
}
.product-title h2{
    font-size: 22px;
    color: #212121;
    font-weight: 400;
}



/* rating and react  */
.rating-react-container{
    padding:  5px;
    display: flex;
}
.rating-react-left{
    width: 85%;
}
.rating-react-left .d-flex{
    gap: 12px;
}
.rating-react-left .d-flex a{
    font-size: 13px;
    color: blueviolet;
}
.rating-react-left i{
    font-size: 14px;
    color: #aff806;
}
.brand{
    margin-top: 5px;
    display: flex;
}
.brand p{
    font-size: 13px;
}
.brand a{
    font-size: 13px;
    color: blueviolet;
}
.rating-react-left a:hover{
    border-bottom: 1px solid rgb(92, 92, 86);
}


/* share&love */
.share-love{
    display: flex;
    gap: 15px;
    position: relative;
}
.share-love i{
    color: #999999;
    font-size: 20px;
    cursor: pointer;
}
.share-item{
    display: none;
    position: absolute;
    width: 250px;
    left: -190px;
    top: 40px;
    height: 100px;
    box-shadow: 0 2px 6px rgba(24, 21, 21, 0.15);
    background-color: rgb(255, 255, 255);
}
.share-love .follow-us{
    align-items: center;
    justify-content: center;
}
.share-love .icons{
    margin-top: -24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-love .icons p{font-weight: 500;}
.share-love .icons a{
    margin-right: 0px;
    margin-bottom: 10px;
}


/* product price */
.product-price-container{
    padding: 10px 5px;
    padding-bottom: 15px;
    margin: 15px 21px 15px 4px;
    border-bottom: 1px solid wheat;
    
    border-top: 1px solid wheat;
}
.new-price h1{
    color: var(--header-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.old-price p{
    color: #868584;
    font-size: 14px;
}


/* product quintity */
.product-quintity{
    padding: 5px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.product-quintity p{
    color: #868584;
    font-size: 14px;
}
.product-quintity button,.product-quintity input{
    background-color: #EFF0F5;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    color: #999999;
    font-size: 15px;
}
.product-quintity input{
    font-size: 18px;
    width: 35px;
    padding: 3px 0;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    margin-left: 8px;
}


/* buy button */
.buy-button{
    margin-top: 10px;
    padding: 5px;
}
.buy-button button{
    width: 200px;
    padding: 11px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    transition: all .3s;
}
#btn-buy{
    background-color:#2ABBE8;
}
#btn-buy:hover{
    background-color:#20a8da;
}
#btn-add-to-cart{
    background-color: #F85606;
}
#btn-add-to-cart:hover{
    background-color: #c45e2b;
}








/* ========== delivery ============ */
.delivery{
    background-color: #FAFAFA;
}
.delivery-top{
    display: flex;
    justify-content:space-between;
    padding: 15px;
}
.delivery-top p{
    font-size: 13px;
    color: #868584;
}
.delivery-top a{
    background-color: rgb(236, 234, 230);
    display: inline-block;
    padding: 3px 11px;
    border-radius: 44px;
    font-weight: 400;
    font-size: 14px;
}


/* delivery address chance */
.delivery-address-main{
    border-bottom: 1px solid rgb(247, 231, 202);
}
.delivery-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.delivery-address .d-flex{
    gap: 12px;
}
.delivery-address .d-flex a{
    margin-top: 3px;
    color: #999999;
    font-size: 17px;
}
.delivery-address .d-flex p{
    font-size: 14px;
}
.btn-chance{
    color: blueviolet;
    cursor: pointer;
}



/* free delivery container */
.free-delivery{
    border-bottom: 1px solid wheat;
}
.free-delivery-container{
    padding: 15px;
}
.free-delivery-container .d-flex{
    gap: 15px;
}
.free-delivery-container p{
    font-size: 13.5px;
}
.free-delivery-container .d-flex div{
    width: 90%;
}
.free{
    font-weight: 500;
}

/* delivery title */
.delivery-title{
    width: 80%;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    padding: 6px;
    margin-bottom: 15px;
}
.delivery-title p{
    margin-right: 10px;
    font-size: 13px;
}
.delivery-title a{
    color: blueviolet;
}
.case-on{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.case-on i{
    color: var(--secondery);
}





/* service container */
.service-container .delivery-top{
    padding-bottom: 0;
}
.warenty-main{
    padding:0 15px;
}
.service-container h5 a{
    display:block;
    margin-top: 15px;
    text-align: center ;
    color:var(--secondery);
    font-weight: 500;
}
.warenty-main p{
    color: var(--secondery);
}
.warenty-main div{
    font-size: 14px;
}
.warenty-main .d-flex{
    align-items:flex-start;
    gap: 15px;
}
.warenty{
    margin-top: 15px;
}







/*  ===========  product datiles style here  =================== */
.product-datiels-wraper{
    box-sizing: border-box;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 82.4% 16.5%;
    gap: 1.1%;
}
.product-all-info-container{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.product-datiels-wraper li{
    font-size: 14px;
    list-style:disc;
    color: #212121;
}

.product-info-ul-wraper{
    padding: 20px;
    width: 85%;
    margin: 0 auto;
}
.head h5{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}
.ul-square-container{
    padding: 20px 0;
    padding-bottom: 35px;
    margin: 0 20px;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
.ul-square{
    padding-bottom: 20px;
    padding-left: 55px;
}
.ul-square li{
    list-style: square;
}


/* product-sku-container  */
.product-sku-container{
    padding: 20px;
    /* margin-bottom: 15px; */
    overflow-x: scroll;
}
.product-sku-wraper h5{
    color: #212121;
    font-weight: 500;
    font-size: 15.5px;
    margin-bottom: 15px;
}
.brand-sku{
    margin-bottom: 25px;
}
.brand-sku p{
    color: var(--secondery);
}
.brand-sku h6{
    font-weight: 500;
    font-size: 13.5px;
    color: #474545;
}
.pakage p{
    color: var(--secondery);
}
.pakage div{
    font-size: 14px;
    margin-left: 35px;
}




.rating-and-review-wraper{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-top: 15px;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 40px;
}
.rating-and-review-wraper .head h5{font-size: 15px;}



/* star container */
.star-container{
    margin: 8px 0;
}
.ratings-containers{
    padding: 20px;
}
.total-rating{
    width: 23%;
}
.total-rating i{
    font-size: 25px;
}
.total-rating-sub{
    margin: 10px 0;
}
.total-rating h1{
    font-weight: 400;
    font-size: 45px;
}
.total-rating h1 span{
    font-size: 30px;
    color: var(--secondery);
}
.total-rating p{
    margin-top: 5px;
    color: var(--secondery);
    font-size: 14px;
}
.ratings-wraper i{
    color: #FACA51;
}

.per-star .d-flex{
    gap: 25px;
}
.per-star {
    font-size: 14px;
}



/* range  */
.progress-bar{
    width: 150px;
    height: 13px;
    background-color:rgb(235, 235, 235);
}
.progress{
    height: 100%;
    background-color: #FACA51;
}
.rating-div-5{width: 55%;}
.rating-div-4{width: 10%;}
.rating-div-3{width: 10%;}
.rating-div-2{width: 25%;}
.rating-div-1{width: 50%;}

/*  user-review-header  */
.user-review-header{
    padding: 0 15px ;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    height: 50px;
}
.user-review-header-name{
    width: 70%;
}




/* sort-filter-container */
.sort-filter-container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sort-filter-container .half{
    height: 100%;
}
.sort-filter-container .d-flex{
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.sort,.filter{
    border-left: 1px solid wheat;
    cursor: pointer;
    position: relative;
}
.sort p,.filter p{
    color:var(--secondery)
}
/*  filter drop down  */
.filter-drop-down,.sort-drop-down{
    position: absolute;
    left: 0;
    top: 50px;
    padding: 10px 0;
    line-height: 20px;
    width: 80px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .15);
    text-align: center;
    font-size: 19px;
    z-index: 11;
}
.filter-drop-down h6 ,.sort-drop-down h6{
    font-weight: normal;
    padding-left: 5px;
}
.filter-drop-down h6:hover,.sort-drop-down h6:hover{
    background-color: #cecaca;
}
.sort-drop-down{
    width: 130px;
    text-align: left;
}




/* each-user-commnet */
.each-user-commnet{
    border-bottom: 1px solid wheat;
    padding: 15px 0;
}
.each-user-commnet i{
    color: #aff806;
    font-size: 15px;
}
.user-name-and-rating{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.user-name-and-rating p{
    color: var(--secondery);
    font-size: 13px;
}
.user-comment-container{
    padding: 15px;
}



/* user-comment-all-img */
.user-comment-all-img{position: relative;
}
.user-comment-all-img img{
    background-color: #e9e5e5;
    padding:0 11px;
    width: 90px;    
    height: 100px;
    object-fit: cover;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 8px;
    transition: all .8s;
    z-index: 33;
}
.user-comment-all-img img:hover{
    margin-left: 20px;
    transform:scale(1.2);
    height:150px;
    width:200px;
    background-color: orange;
}
.user-comment-all-img i{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
}
.user-comment-image p{
    color: var(--secondery);
    padding-bottom:6px;
    font-size: 13.5px;
}
.users-like{
    display: flex;
    justify-content: space-between;
}
.users-like i{
    color: var(--secondery);
}
.three-dot{
    /* width: 10px; */
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}
.three-dot-drop-down{
    width: 100px;
    position: absolute;
    right: 5px;
    padding: 5px;
    line-height: 25px;
    background-color: #f0f8f8;
    border: 1px solid rgb(238, 229, 238);
    cursor: pointer;
}
.three-dot-drop-down a{
    border-bottom: 1px solid orange;
}




/*========== comment  page container  ============= */
.page-wraper{
    padding-right: 10px;
    width: 235px;
    margin-left: auto;
    margin-top: 20px;
}
.page-wraper button{
    background-color: #faf6f6;
    color: var(--secondery);
    padding: 12px 10px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid wheat;
    font-size: 14px;
}
.page-wraper button:hover{
    background-color: #d1d4d4;
}
.active-page{
    background-color: #9e9898 !important;
    color: white !important;
}





/* ======== same item show ================ */
.same-item{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-bottom: 40px;
}
.head{
    padding: 20px;
    background-color: #fafafa;
    height: 60px;
}
.head-same-item{
    padding: 20px 0;
    background-color: #fafafa;
    height:60px;
    margin-bottom: 20px;
}

.head-same-item h5{
    text-align: center;
    font-size: 16px;
    color: #212121;
    font-weight: 500;
}
.same-each-item{
    margin-top: 17px;
    height: 260px;
    border-bottom: 1px solid rgb(245, 236, 218);
    transition: all .3s;
}
.same-each-item:hover{
    cursor: pointer;
    box-shadow: 0 6px 17px rgba(0, 0, 0, .15);
}
.same-each-item img{
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.same-each-footer{
    padding: 10px;
}
.same-each-footer p{
    font-size: 13px;
    margin-bottom: 5px;
}
.same-each-footer h3{
    color: #31c504;
    font-size: 19px;
    font-weight: normal;
    
}
.same-each-footer i{
    color: #31c504;
    font-size: 12px;
}







/* people also viewed */
.people-viewed-item-wraper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 40px;
    width: 82.4%;
    gap: 5px;
}
.people-viewed-item-wraper .same-each-item{
    background-color: white;
    border: 1px solid rgb(243, 234, 217);
    border-radius: 3px;
}



/* message  */
.message-container{
    position: fixed;
    bottom:50px;
    background-color: white;
    box-shadow: 8px 14px 39px rgba(24, 21, 21, 0.15);
    right: 0;
    font-size: 13px;
    padding: 6px 5px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.message-container i{
    font-size: 18px;
    color: var(--secondery);
}