/*  ======== global css ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 14px;
}
:root{
    --header-bg:#F85606;
    --primaryColor : #F85606;
    --secondery : #b2b6b6;
}
li,a{text-decoration: none;list-style: none;}

body{
    font-family: system-ui, -apple-system;
    background-color: #EFF0F5;
}
.container{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    align-items: center;
}
.half{
    width: 50%;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
}





/* page bar stat here */
.page-bar-wraper{
    display: flex;
    padding: 10px 0;
}
.page-bar-wraper p{
    font-size: 14px;
    color: #868584;
}
.page-bar-wraper i{
    font-size: 14px;
    margin-right: 8px;
    margin-left: 6px;
}







/* ==========  product page =========== */
.product-page-wraper{
    display: grid;
    grid-template-columns: 70% 30%;
}
.product-buy-container{
    background-color: #ffffff;
    height: 444px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.product-buy-wraper{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 12px;
}

/* products images  */
.product-images-container img{
    width: 100%;
}
.img-hr{
    height: .5px;
    background-color: #fdfbfb !important;
}
.display-img{
    padding: 8px  0 4px 8px;
}
.display-img img{
    width: 100%;
    height: 270px;
    object-fit:fill;
    object-position:22%;
}

.bottom-images{
    width: 100%;
    margin-top: 9px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.bottom-single-img{
    height: 50px;
    border-radius: 3px;
    border: 1px solid wheat;
}
.bottom-single-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-images button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    margin-left: 4px;
}
.bottom-images button i{
    font-size: 1.2rem;
}


/* =====  flash sale ======  */
.flash-sale-container{
    width:90%;
    margin-top: 8px;
    margin-left: 3%;
    border: 1px solid wheat;
    border-radius: 20px;
    height: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.flash-sale-container h5{
    background-color: #FF3755;
    padding: 9px 10px;
    display: inline-block;
    transform: skew(-15deg);
    text-align: center;
    margin-top:-2px !important;
    color: white;
    word-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 25px;
}
.flash-sale-container p{
    font-size: 13px;
}
.flash-sale-container span{
    color: var(--header-bg);
}
.sold{
    margin-left: 20px;
    color: #999999;
    margin-right: 8px;
    font-size: 17px;
}

/* product title style here */
.product-title{
    margin: 10px 5px;
    padding-right:10px;

}
.product-title h2{
    font-size: 22px;
    color: #212121;
    font-weight: 400;
}


/* rating and react  */
.rating-react-container{
    padding:  5px;
    display: flex;
}
.rating-react-left{
    width: 85%;
}
.rating-react-left .d-flex{
    gap: 12px;
}
.rating-react-left .d-flex a{
    font-size: 13px;
    color: blueviolet;
}
.rating-react-left i{
    font-size: 14px;
    color: #aff806;
}
.brand{
    margin-top: 5px;
    display: flex;
}
.brand p{
    font-size: 13px;
}
.brand a{
    font-size: 13px;
    color: blueviolet;
}
.rating-react-left a:hover{
    border-bottom: 1px solid rgb(92, 92, 86);
}


/* share&love */
.share-love{
    display: flex;
    gap: 15px;
}
.share-love i{
    color: #999999;
    font-size: 20px;
}




/* product price */
.product-price-container{
    padding: 10px 5px;
    padding-bottom: 15px;
    margin: 15px 21px 15px 4px;
    border-bottom: 1px solid wheat;
    
    border-top: 1px solid wheat;
}
.new-price h1{
    color: var(--header-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.old-price p{
    color: #868584;
    font-size: 14px;
}


/* product quintity */
.product-quintity{
    padding: 5px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.product-quintity p{
    color: #868584;
    font-size: 14px;
}
.product-quintity button,.product-quintity input{
    background-color: #EFF0F5;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    color: #999999;
    font-size: 15px;
}
.product-quintity input{
    font-size: 18px;
    width: 35px;
    padding: 3px 0;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    margin-left: 8px;
}


/* buy button */
.buy-button{
    margin-top: 10px;
    padding: 5px;
}
.buy-button button{
    width: 200px;
    padding: 11px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    transition: all .3s;
}
#btn-buy{
    background-color:#2ABBE8;
}
#btn-buy:hover{
    background-color:#20a8da;
}
#btn-add-to-cart{
    background-color: #F85606;
}
#btn-add-to-cart:hover{
    background-color: #c45e2b;
}








/* ========== delivery ============ */
.delivery{
    background-color: #FAFAFA;
}
.delivery-container{
    /* padding: 15px; */
}
.delivery-top{
    display: flex;
    justify-content:space-between;
    padding: 15px;
}
.delivery-top p{
    font-size: 13px;
    color: #868584;
}
.delivery-top a{
    background-color: rgb(236, 234, 230);
    display: inline-block;
    padding: 3px 11px;
    border-radius: 44px;
    font-weight: 400;
    font-size: 14px;
}


/* delivery address chance */
.delivery-address-main{
    border-bottom: 1px solid rgb(247, 231, 202);
}
.delivery-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.delivery-address .d-flex{
    gap: 12px;
}
.delivery-address .d-flex a{
    margin-top: 3px;
    color: #999999;
    font-size: 17px;
}
.delivery-address .d-flex p{
    font-size: 14px;
}
.btn-chance{
    color: blueviolet;
    cursor: pointer;
}



/* free delivery container */
.free-delivery{
    border-bottom: 1px solid wheat;
}
.free-delivery-container{
    padding: 15px;
}
.free-delivery-container .d-flex{
    gap: 15px;
}
.free-delivery-container p{
    font-size: 14px;
}
.free-delivery-container .d-flex div{
    width: 90%;
}
.free{
    font-weight: 500;
    font-size: 16px !important;
}

/* delivery title */
.delivery-title{
    width: 80%;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    padding: 6px;
    margin-bottom: 15px;
}
.delivery-title p{
    margin-right: 10px;
    font-size: 13px;
}
.delivery-title a{
    color: blueviolet;
}
.case-on{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.case-on i{
    color: var(--secondery);
}