/*  ======== global css ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg:#F85606;
    --primaryColor : #F85606;
}
li,a{text-decoration: none;list-style: none;}

body{
    font-family: system-ui, -apple-system;
}
.container{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.half{
    width: 50%;
}



/* page bar stat here */
.page-bar-wraper{
    display: flex;
    padding: 10px 0;
}
.page-bar-wraper p{
    font-size: 14px;
    color: #a1a09f;
}
.page-bar-wraper i{
    font-size: 14px;
    margin-right: 8px;
    margin-left: 6px;
}